
:root{
  --padding:15px;
  --card-color: rgba(227,231,229,0.639);
  --background-color: #121212;
  --font-backgrond: white;
}

.container {
  background-color: white;
  border:1px solid pink;
  display:grid;
  grid-template-columns: minmax(250px,1fr) 4fr;
  grid-template-rows: 20% auto;
  height:100vh;
  gap:15px;
}


.header,
.sidebar,
.main
{
  background-color: rgba(227, 231, 229, 0.639);
}

.header{
  grid-column:2/3;
  grid-row:1/2;
  display:grid;
  grid-template-columns: 55% auto;
  grid-template-rows: 1fr 1fr;
  gap:5px;
  padding:20px;
}

.header div,
.sidebar div,
/* .main div, */
.article,
.announcements div{
  background-color: rgb(232, 227, 219);
  /* border: 1px solid red; */
}


.sidebar{
  grid-column:1/2;
  grid-row:1/3;
  display:grid;
  /* grid-template-columns: 1fr; */
  grid-template-rows: 7.5% 5% 30% 5% auto;
  gap:5px;
  padding:25px;
}


.main{
  grid-column: 2/3;
  grid-row:2/3;
  display: grid;
  gap:5px;
  grid-template-columns: 66.67% auto;

}

.projects{
  display:grid;
  grid-template-rows: 5% auto;
  gap:5px;
}

.articles{
  display:grid;
  grid-template-rows: min(250px, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap:25px;
  padding: 0 var(--padding) var(--padding) var(--padding);
  background-color: rgba(227, 231, 229, 0.639);
}

.announcements{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5% 40% 10% auto;
  gap:5px;
  padding-bottom:var(--padding);
  /* padding:25px; */

}

.dashboard{
  font-size: 1.5em;
  /* padding:25p */
  gap:20px;
  display:grid;
  grid-template-columns:25% auto;
  /* align-content: center; */
  /* justify-content: start; */
  align-items: center;
}

.home,
.profile,
.messages,
.history,
.tasks,
.communities,
.settings,
.support,
.privacy
{
  font-size: 1em;
  /* padding:25p */
  gap:20px;
  display:grid;
  grid-template-columns:25% auto;
  /* align-content: center; */
  /* justify-content: start; */
  align-items: center;
  /* text-align: center; */
  /* align-self:; */
  /* margin:; */
  /* justify-items: center; */
  
}
img{
  width:50%;
  padding-left: 5px;
}
.dashboard img
{
  width:70%;
}
.trending,
.news{
  display:grid;
  padding:25px;
  gap:15px;
  align-items: center;
  /* align-content: center; */
  justify-content: center;
  justify-items: center;
  /* text-align: center; */
  align-content: center;
}

.t1 {
  display:grid;
  grid-template-columns: 35% auto;
  border:1px solid red;
}

.t1 div + div {
  display:flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;  
}


.news div:nth-child(-n+2){
  border-bottom: 1px solid red;
}


/* .notifications,
.intro,
.action */
.search
{
  /* background-color: white; */
  display:grid;
  grid-template-columns: 15% auto;
  align-self: center;

}

.search-bar{
  margin:auto;
  height:25px;
  width: 90%;
  overflow:auto;
  background-color: rgb(194, 201, 201) !important;
  border-radius: 25px;
  /* background-color: yellowgreen; */
  border: 1px solid red;
}

.notifications
{
  display:grid;
  grid-template-columns: 1fr 1fr 2fr;
}
.notifications div{
  align-self:center;
  /* align-items: center;
  border: 1px solid red;
  align-content: center; */
}

.intro{
  display:grid;
  grid-template-columns: 25% auto;
  align-self: center;
  gap:15px;
}
.intro-text{
padding:5px;
display:flex;
flex-direction: column;
justify-content: center;
}
.action {
  display:grid;
  grid-template-columns: repeat(3,1fr);
  gap:15px;
  padding:15px;
  align-self: center;
}
.action div {
  text-align: center;
  justify-content: center;
  /* align-items: center; */
  align-content: center;
  height:30px;
  border-radius: 25px;
  background-color: rgb(194, 201, 201) !important;

}
