
:root{
  --padding:15px;
  --card-color: rgba(227,231,229,0.639);
}

.container {
  background-color: white;
  border:1px solid pink;
  display:grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 20% auto;
  height:100vh;
  gap:15px;
}


.header,
.sidebar,
.main
{
  background-color: rgba(227, 231, 229, 0.639);
}

.header{
  grid-column:2/3;
  grid-row:1/2;
  display:grid;
  grid-template-columns: 55% auto;
  grid-template-rows: 1fr 1fr;
  gap:5px;
  padding:20px;
}

.header div,
.sidebar div,
/* .main div, */
.article,
.announcements div{
  background-color: rgb(232, 227, 219);
  /* border: 1px solid red; */
}


.sidebar{
  grid-column:1/2;
  grid-row:1/3;
  display:grid;
  /* grid-template-columns: 1fr; */
  grid-template-rows: 7.5% 5% 30% 5% auto;
  gap:5px;
  padding:25px;
}


.main{
  grid-column: 2/3;
  grid-row:2/3;
  display: grid;
  gap:5px;
  grid-template-columns: 66.67% auto;

}

.projects{
  display:grid;
  grid-template-rows: 5% auto;
  gap:5px;
}

.articles{
  display:grid;
  grid-template-rows: min(250px, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap:25px;
  padding: 0 var(--padding) var(--padding) var(--padding);
  background-color: rgba(227, 231, 229, 0.639);
}

.announcements{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5% 40% 10% auto;
  gap:5px;
  padding-bottom:var(--padding);
  /* padding:25px; */

}


.dashboard,
.home
{
  display:grid;
  grid-template-columns:25% auto;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* align-self:; */

}

.dashboard img
{
  width:100%;
}


.dashboard div:first-child,
.home div:first-child
{

  /* background-image: url("img/arrow-all.svg"); */
  background-repeat:no-repeat;
  fill: var(--svg-color);
  background-size:25px;
  
}


/* 
.home,
.profile,
.messages,
.history,
.tasks,
.communities
.settings,
.support,
.privacy
